p {
    font-size: 20px;
}

h2 {
    font-size: 40px;
    color: #1B7BA0;
}

h3 {
    font-size: 25px;
}

a {
    color:black;
    text-decoration: none;
}


#logo{
    height: 75px;
    width:75px;
    margin-left: 20px;
}
/* Navigation */
.mobile-nav{
    display: none;
}

 nav .desktop-nav {
    width:100%;
    display: inline-flex;
} 

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: inline-block;
    padding: 2px;
    margin: 0 15px;
    /* border: 1px black solid; */
    color: black;
    font-weight: bold;
    font-size: 22px;
}

#contact {
    padding: 5px;
    color:white;
    background-color: #3B98BB;
    border: 1px #3B98BB solid;
    border-radius: 10px;
    text-decoration: none;
}
#contact a {
    color: white;
}

@media only screen and (max-width:768px){
    .mobile-nav{
        display: none;
    }

   #logo {
    display: none;
   }

   .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    }
}

@media only screen and (max-width:425px){
    nav .mobile-nav{
        display: flex;
    }  

    nav .desktop-nav{
        display: none;
    }
    nav .mobile-nav li{
        font-size: 15px;
    }
    .navbar{
        padding-left: 0px;
    }

    #logo{
        display: block;
    }
    
}


/* Banner */
.banner{
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: gainsboro;
}

@media only screen and (max-width:768px){
    .banner{
        display: block;
        text-align: center;
    }
    .hello{
        padding-top: 20px;
    }
}

.hello{
    font-size: 22px;
    font-weight: bold;
    text-align:center;
    margin: 0px;
}
.greeting-text{
    margin: 0px 50px;
    /* border: 1px black solid; */
}

.greeting-text h1, .contact-h1, .certificates-h1, .resume-h1{
    font-size: 100px;
    margin: 0px;
}

.contact-h1, .certificates-h1, .resume-h1{
    text-align:center;
}

.greeting-text h4, .greeting-text h5{
    font-size: 20px;
    margin: 0px;
}

.aboutMeButton, .submitButton{
    border: 1px #3B98BB solid;
    border-radius: 10px;
    color: white;
    background-color: #3B98BB;
    text-decoration: none;
    box-shadow: 0px 3px;
    padding: 5px;
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.aboutMeButton:active, .submitButton:active, #contact:active{
    margin-top: 3px;
    color: black;
    box-shadow: 0px 0px;
}

.aboutMeButton a, .submitButton a {
    color: white;
}

#profile {
    width: 700px;
    height: 600px;
    margin: 0px;
    /* border: 1px black solid; */
}
@media only screen and (max-width:425px){
    .banner{
        display: block;
        width: 100%;
    }
    #profile {
        width: 400px;
        height: 400px;
        margin: 0px;
    }
    .aboutMeButton{
        display: none;    }
}


/* About Me */
.aboutMe{
    width: 100%;
    display: inline-flex;
    /* border: 1px black solid; */
    padding: 20px 0px 20px 0px;
}
 #aboutMePhoto{
    width: 575px;
    height: 400px;
    margin-top: 50px;
 }
.aboutMeText{
    width: 600px;
    margin-top: 25px;
    margin-left: 200px;
}
#aboutMeSmallDevices{
    display: none;
}

@media only screen and (max-width:768px){
    .aboutMe{
        display: block;
        text-align: center;
    }

    .aboutMeText{
        margin-left: 75px;
    }
    #aboutMeSmallDevices{
        display: block;
    }
    #aboutMe{
        display:none;
    }
}
@media only screen and (max-width:425px){
    #aboutMeSmallDevices{
        display: block;
    }
    #aboutMePhoto{
        width: 350px;
        height: 300px;
    }
    .aboutMeText{
        width: 350px;
        margin-left: 20px;
        text-align: left;
    
    }
}
/* Skills */
.skills{
    width: 90%;
    /* border: 1px black solid; */
    padding: 0px 50px;
}

/* Projects */
.projects {
    margin-left: 50px;
}

.projects h3{
    cursor: pointer;
}

.projects h3:hover{
    color:blue;
}

.emg-robot{
    width: 50%;
    /* border: 1px black solid; */
    margin: 0px auto;
    text-align: center;
}
.emg-text{
    width: 600px;
    text-align: left;
    /* border: 1px black solid; */
    margin: 0px auto;
}

@media only screen and (max-width:768px){
    .emg-text{
        width:400px;
    }
}

@media only screen and (max-width:425px){
    .emg-robot{
        width:100%;
    }
    .emg-text{
        width:300px;
        margin:0px;
    }
    #robotPhoto, #emgCircuit{
        margin:0px;
        height:300px;
        width:300px;
    }
}

/* Certificates Page */
.certificatesPage{
    width:100%;
    display: flex;
    justify-content: center;
}
.certificates img{
    height:600px;
    width:1000px;
}

.certificates{
    text-align:center;
    background-color: gainsboro;
    padding:20px 90px;
    border:3px #3B98BB solid;   
}

.certificates h2{
    text-decoration: underline;
}
.mobile-nav{
    display: none;
}
@media only screen and (max-width:768px){
    .mobile-nav{
        display: none;
    }

   #logo {
    display: none;
   }

   .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .certificates img{
        height:400px;
        width:600px;
    }
    .certificates h2{
        font-size:30px;
    }
    .certificates{
        padding:10px 50px;
    }
}
@media only screen and (max-width:425px){
    nav .desktop-nav{
        display: none;
    }

    nav .mobile-nav{
        display: flex;
    }  

    nav .mobile-nav li{
        font-size: 15px;
    }
    .navbar{
        padding-left: 0px;
    }
    #logo{
        display: block;
    }
    .certificates-h1{
        font-size: 50px;
    }
    .certificates img{
        height:200px;
        width:325px;
    }
    .certificates{
        padding:10px 20px;
    }
}

/* Resume Page */
.resumePage{
    width:100%;
    display: flex;
    justify-content: center;
}
.resume{
    text-align:center;
    background-color: gainsboro;
    padding:90px 90px;
    border:3px #3B98BB solid;
}
.mobile-nav{
    display: none;
}

@media only screen and (max-width:768px){
    .mobile-nav{
        display: none;
    }

   #logo {
    display: none;
   }

   .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    }
   
    #resumeDoc{
        height: 1000px;
        width:700px;
    }
    .resume{
        padding:50px 25px;
    }  
}

@media only screen and (max-width:425px){
    nav .desktop-nav{
        display: none;
    }

    nav .mobile-nav{
        display: flex;
    }  

    nav .mobile-nav li{
        font-size: 15px;
    }
    .navbar{
        padding-left: 0px;
    }
    #logo{
        display: block;
    }
    .resume-h1{
        font-size: 50px;
    }
    #resumeDoc{
        height: 500px;
        width:350px;
    }
    .resume{
        padding:10px 10px;
    } 
    
}
/* Contact Page*/
.mobile-form{
    display:none;
}
.mobile-nav{
    display: none;
}
.contactHeading{
    text-align: center;
}

.contactPage{
    width:100%;
    display: flex;
    justify-content: center;
}

.contactForm{
    width:50%;
    text-align: center;
    border: 3px #3B98BB solid;
    padding: 20px 0px;
    background-color: gainsboro;
}

label, input {
    font-size: 20px;
}

.socialMedia{
    text-align: center;
}

#linkedIn, #gitHub {
    height: 50px;
    width: 50px;
}

@media only screen and (max-width:768px){
        .mobile-nav{
            display: none;
        }
    
       #logo {
            display: none;
       }
    
       .navbar{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .mobile-form{
            display:none;
        }
        .contactForm{
            width:50%;
            padding: 20px 50px;
        } 
}
@media only screen and (max-width:425px){
    nav .desktop-nav{
        display: none;
    }

    nav .mobile-nav{
        display: flex;
    }  

    nav .mobile-nav li{
        font-size: 15px;
    }
    .navbar{
        padding-left: 0px;
    }
    #logo{
        display: block;
    }
    .desktop-form{
        display:none;
    }
    .mobile-form{
        display:block;
    }
    .submitButton{
        padding: 5px 50px 5px 20px;
        text-align: center;
     }
    .contact-h1{
        font-size: 50px;
    }
    label, input {
        font-size: 15px;
    }
    
}