p {
    font-size: 20px;
}

h2 {
    font-size: 40px;
    color: #1B7BA0;
}

h3 {
    font-size: 25px;
}

a {
    color:black;
    text-decoration: none;
}


#logo{
    height: 75px;
    width:75px;
    margin-left: 20px;
    /* border: 1px black solid; */
    /* display:flex; */
    /* justify-content: flex-start; */
}
/* Navigation */
 nav {
    width:100%;
    display: inline-flex;
    /* position:relative; */
    /* justify-content: flex-end; */
    /* background-color: white; */
    /* border: 1px blue solid; */
    /* margin-left:600px; */
    /* text-align: right; */

} 

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* text-align: right; */
    /* border: 1px black solid; */
    /* align-items: center; */
    /* display:flex; */
    /* justify-content: right; */

}

.navbar li {
    display: inline-block;
    padding: 5px;
    margin: 0 15px;
    /* border: 1px black solid; */
    color: black;
    font-weight: bold;
    font-size: 22px;
}

#contact {
    padding: 5px;
    color:white;
    background-color: #3B98BB;
    border: 1px #3B98BB solid;
    border-radius: 10px;
    text-decoration: none;
}
#contact a {
    color: white;
}



/* Banner */
.banner{
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: gainsboro;
}

.hello{
    font-size: 22px;
    font-weight: bold;
    text-align:center;
    margin: 0px;
}
.greeting-text{
    margin: 0px 50px;
    /* border: 1px black solid; */
}

.greeting-text h1, .contactHeading h1{
    font-size: 100px;
    /* border: 1px black solid; */
    margin: 0px;
}

.greeting-text h4, .greeting-text h5{
    font-size: 20px;
    margin: 0px;
}

.aboutMeButton, .submitButton{
    border: 1px #3B98BB solid;
    border-radius: 10px;
    color: white;
    background-color: #3B98BB;
    text-decoration: none;
    box-shadow: 0px 3px;
    padding: 5px;
    width: 20%;
    text-align: center;
    font-weight: bold;
}

.aboutMeButton:active, .submitButton:active, #contact:active{
    margin-top: 3px;
    color: black;
    box-shadow: 0px 0px;
}

.aboutMeButton a, .submitButton a {
    color: white;
}

#profile {
    width: 700px;
    height: 600px;
    margin: 0px;
    /* border: 1px black solid; */
}

/* About Me */
.aboutMe{
    width: 100%;
    display: inline-flex;
    /* border: 1px black solid; */
    padding: 20px 0px 20px 0px;
}
 #aboutMePhoto{
    width: 575px;
    height: 400px;
    margin-top: 50px;
 }
.aboutMeText{
    width: 600px;
    margin-top: 25px;
    margin-left: 200px;
}


/* Skills */
.skills{
    width: 90%;
    /* border: 1px black solid; */
    padding: 0px 50px;
}

.projects {
    margin-left: 50px;
}

.emg-robot{
    width: 50%;
    /* border: 1px black solid; */
    margin: 0px auto;
    text-align: center;
}
.emg-text{
    width: 600px;
    /* border: 1px black solid; */
    margin: 0px auto;
}
/* Contact */
.contactHeading{
    text-align: center;
    /* color: #1B7BA0; */
}

.contactPage{
    width:100%;
    display: flex;
    justify-content: center;
    /* background-color: gainsboro; */
}

.contactForm{
    width:50%;
    text-align: center;
    border: 3px #3B98BB solid;
    padding: 20px 0px;
    background-color: gainsboro;
}

label, input {
    font-size: 20px;
}

.socialMedia{
    text-align: center;
}

#linkedIn, #gitHub {
    height: 50px;
    width: 50px;
}